<div class="about-page-component parking-page-component" :class="{'nav-arrows-visible': navArrowsVisible}">
    <intro-title title="Паркинг" />
    <div class="page-name">
        Паркинг
    </div>
    <div :class="{'visible': isVisibleOverlay}" class="overlay-white"></div>
    <div class="page-class" style="background-image: url(static/img/class.png)"></div>
    <div class="page-class-left" style="background-image: url(static/img/logo-left.png)"></div>
    <img class="stone-logo" src="static/img/stone-logo.svg" alt="">
    <!-- <div class="img-wrap" v-show="!introTitleShow">
        <div class="img" style="background-image: url(static/img/parking.jpg)"></div>
    </div> -->
    <swiper @slideChange="slideChanged" :options="swiperOption1" class="bg-static" >
        <swiper-slide>
            <!-- <div class="inner-sw"></div> -->
            <img src="static/img/gallery/parking/1.jpg" alt="">
        </swiper-slide>
        <swiper-slide>
            <!-- <div class="inner-sw"></div> -->
            <img src="static/img/gallery/parking/2.jpg" alt="">
        </swiper-slide>
        <div class="swiper-bottom__pagitation-common">
            <div class="swiper-button-prev-common" slot="button-prev"></div>
            <div class="swiper-pagination-common" slot="pagination"></div>
            <div class="swiper-button-next-common" slot="button-next"></div>
        </div>
    </swiper>
    <div class="scheme-link">
        <router-link to="/parking/parking-intro">
            Схема паркинга
            <img class="scheme-link-icon" src="static/img/parking-scheme-icon.svg" alt="">
        </router-link>
    </div>
    <details-slider>
        <swiper-slide>
            <div class="details-block">
                <div class="h1">Двухуровневый паркинг</div>
                <div>
                    <div class="details-grid">
                        <div class="details-item">
                            <span class="number-variable">171</span> машино-мест
                        </div>
                        <div class="details-item">
                            Система подзарядки электромобилей
                        </div>
                        <div class="details-item">
                            Удобная навигационная система
                        </div>
                        <div class="details-item">
                            Подсветка следования автомобиля
                        </div>
                        <div class="details-item">
                            Современная система считывания госномеров
                        </div>
                        <div class="inside"><router-link to="/parking/parking-intro?open=true">Подобрать</router-link></div>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </details-slider>
</div>