.video-html5-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  video{
    max-width: 100%;
    margin: auto;
  }

  &.fit-cover{
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}